/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: #38bdf8;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 100vh;
    padding-top: 80px;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/R.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    animation: fadeIn 2s ease;
}

.hero p {
    margin: 15px 0;
}

/* BUTTON */
button {
    padding: 12px 25px;
    border: none;
    background: #38bdf8;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background: #0ea5e9;
}

/* PRODUK */
.produk {
    padding: 100px 50px;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* FIX gambar produk */
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #38bdf8;
}

/* ABOUT */
.about {
    padding: 80px;
    text-align: center;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #020617;
}

/* ANIMATION */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}